services:
  service_registry:
    build: ./service_registry
    container_name: service_registry
    ports:
      - "8002:8000"
    networks:
      - wakanda_network

  traffic_service:
    build: ./traffic_service
    container_name: traffic_service
    depends_on:
      - service_registry
    ports:
      - "8001:8000"
    networks:
      - wakanda_network

  energy_service:
    build: ./energy_service
    container_name: energy_service
    depends_on:
      - service_registry
    ports:
      - "8003:8000"
    networks:
      - wakanda_network
  
  waste_service:
    build: ./waste_service
    container_name: waste_service
    depends_on:
      - service_registry
    ports:
      - "8005:8000"
    networks:
      - wakanda_network

  gateway_api:
    build: ./gateway_api
    container_name: gateway_api
    ports:
      - "8080:8000"
    depends_on:
      - service_registry
    environment:
      - TRAFFIC_SERVICE_URL=http://traffic_service:8000
    networks:
      - wakanda_network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus_config/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - wakanda_network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - wakanda_network
  
  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      - "16686:16686"
      - "4317:4317"
      - "6831:6831/udp"
    networks:
      - wakanda_network

networks:
  wakanda_network:
    driver: bridge